DataLayer/Service References/WcfDataService/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfDataService/DataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/WcfDataService/DataService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isLock" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastActivityDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastLockDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastLoginDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="LogInfoType">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="configs" nillable="true" type="q2:ArrayOfKeyValuePairOfstringstring" />
      <xs:element minOccurs="0" name="count" type="xs:int" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="types" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogInfoType" nillable="true" type="tns:LogInfoType" />
</xs:schema>